<!-- extend from base layout -->

{% extends "base.html" %}
{% from "_page.html" import message, paginate, status_label %}

{% block title %} BlogList {% endblock %}

{% block body %}

<div id="body">
    <div id="post" class="post">
        <h1>Welcome to the preposterous blog, {{ g.user.nickname }}<h1>
        <hr/>
        {% for post in page_obj.items %}
        <h2 class="post-title"><a href="{{ url_for('home_frontend.view', id=post.id) }}">{{ post.title }}</a></h2>
        <div class="post-info">
            <!--here show the post under names, catagories-->
            <abbr title="{{ post.created_date }}" class="time">{{ post.created_date }}</abbr> | By <a href="{{ url_for('home_frontend.error') }}">{{ post.author }}</a>, Category: 
            <a href="{{ url_for('home_frontend.error') }}">{{ post.category_name }}</a>
        </div>
        <div class="post-body">
            <p>{{ post.content | safe}}</p>
            <a href="{{ url_for('home_frontend.view', id=post.id) }}">read more ...</a>
            | {{ post.comment | length }} comments
        </div>
        <span class="tag-links">
            <span class="tagsearch">Tags : </span> 
            {% for tag in post.tag %}
                <a href="{{ url_for('home_frontend.error') }}" title="post in tag" rel="tag">{{ tag.name }}</a>, 
            {% endfor %}
        </span>
        {% endfor %}
    </div>
</div>

{{paginate(page_obj)}}
{% endblock %}
