<!-- extend from base layout -->

{% extends "base.html" %}
{% from "_page.html" import message, paginate, status_label %}

{% block title %} Content {% endblock %}

{% block body %}

<div id="body">
    <div id="body_top-{{ post.id }}">
        <h2>CONTENT VIEWS</h2>
    </div>

    <div id="body_middle">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-info">
            <!--here show the post under names, catagories-->
            <p>Post by {{ post.author }}
            <abbr title="{{ post.created_date }}" class="time"> at {{ post.created_date }}</abbr>. 
            Category : {{ post.category_name }}</p>
        </div>
        <div class="post-body">
            <p>{{ post.content | safe}}</p>
        </div>
        <span class="tag-links">
            <span class="tagsearch">Tags : </span> 
            {% for tag in post.tag %}
                {{ tag.name }}, 
            {% endfor %}
        </span>
    </div>
    <div id="body_extend">
        {% if g.user.id == post.user_id %}
            <a href="{{ url_for('post_backend.edit', id=post.id) }}">edit</a>
            <a href="{{ url_for('post_backend.delete', id=post.id) }}">delete</a>
        {% endif %}
        <hr />
    </div>
    <div id="comment">
        <h3>COMMENTS</h3>
        {% for comment in comment %}
            
            <abbr title="{{ post.created_date }}" class="time">{{ comment.created_date }}</abbr> | By <a href="{{ url_for('home_frontend.error') }}">{{ comment.author }}</a> | 
            {% if comment.author == g.user %}
                <a href="{{ url_for('comment_frontend.edit', id=comment.id) }}">edit</a>
                <a href="{{ url_for('comment_frontend.delete', id=comment.id) }}">delete</a>
            {% endif %}
            <p>{{ comment.content | safe}}</p>

        {% endfor %}
        <hr />
    </div>
    <div id="newcomment">
        <a href="{{ url_for('comment_frontend.new', post_id=post.id) }}">Add Comment</a>
    </div>
</div>

{#{paginate(page_obj)}#}
{% endblock %}


