<!-- extend from base layout -->
{% set location='submit' %}
{% extends "base.html" %}
{% from "_page.html" import render_errors %}
{% block title %}editpost{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/lib/jquery-file-upload-9.5.5/css/jquery.fileupload-ui.css">
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/lib/jquery-file-upload-9.5.5/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/lib/jquery-file-upload-9.5.5/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/lib/jquery-file-upload-9.5.5/js/jquery.fileupload.js"></script>

<script charset="utf-8" src="/static/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/static/kindeditor/lang/en.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[class="content"]', {
            allowFileManager : true,
            uploadJson : '/upload',
            // fileManagerJson : '/upload',
            // allowFileUpload : true,
            // allowImageUpload : true,
            // extraFileUploadParams : {way: 'local'}
        });
    });
</script>
{% endblock %}

{% block body %}
<div id="body">
    <div id="body_top">
            <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li><a href="{{ url_for('post_backend.index') }}">Post</a></li>
            <li>Edit</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">

        <div class="postblock">
            <form method="POST" action="">
		    {{ form.hidden_tag() }}
            <table cellspacing="0" class="postform">
                <tbody>
                    <tr>
                        <th>{{ form.title.label(style="display:block;width:100px;") }}</th>
                        <td>{{ form.title() }}{{ render_errors(form.title) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.category.label }}</th>
                        <td>{{ form.category }}{{ render_errors(form.category) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form.content.label }}</th>
                        <td>{{ form.content(id="editor_id", class="content", style="width:700px;height:300px;") }}{{ render_errors(form.content) }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="tag">
                <p>{{ form.tags.label }}{{ form.tags() }}</p><!--input type="text" name="tag" value=""-->
                <p>separate tags by commas</p>
                <div id="showtag">
                    {% for tag in post.tag %}
                        Tags: {{ tag.name }},
                    {% endfor %}
                </div>
            </div>

            <p>{{ form.submit(class="btn") }}</p>
            <hr/>

            </form>
        </div>
    </div>
	<hr/>
		<a href="{{ url_for('category_backend.new') }}" class="btn btn-inverse">Create New Category</a>
        <a href="{{ url_for('tag_backend.new') }}" class="btn btn-inverse">Create New Tag</a>
	<hr/>

</div>
{% endblock %}