<!-- extend from base layout -->

{% extends "base.html" %}
{% from "_page.html" import message, paginate, status_label %}

{% block title %} Content {% endblock %}

{% block body %}

<div id="body">
    <div id="body_top">
            <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li><a href="{{ url_for('post_backend.index') }}">Post</a></li>
            <li>{{ post.title }}</li>
        </ul>
        <hr/>
    </div>

    <div id="body_middle">
        <h2 class="post-title">{{ post.title }}</h2>
        <div class="post-info">
            <!--here show the post under names, catagories-->
            Post by <a href="{{ url_for('account_backend.manage', id=post.user_id) }}">{{ post.author }}</a>
            <abbr title="{{ post.created_date }}" class="time"> at {{ post.created_date }}</abbr>. 
            <a href="{{ url_for('category_backend.view', name=post.category_name) }}">{{ post.category_name }}</a>
        </div>
        <div class="post-body">
            <p>{{ post.content | safe}}</p>
        </div>
        <span class="tag-links">
            <span class="tagsearch">Tags : </span> 
            {% for tag in post.tag %}
                <a href="{{ url_for('tag_backend.view', name=tag.name) }}" title="post in tag" rel="tag">{{ tag.name }}</a>, 
            {% endfor %}
        </span>
    </div>
    <div id="body_extend">
        {% if g.user.id == post.user_id %}
            <a href="{{ url_for('post_backend.edit', id=post.id) }}">edit</a>
            <a href="{{ url_for('post_backend.delete', id=post.id) }}">delete</a>
        {% endif %}
        <hr />        
    </div>
    <div id="comment">
        <h3>COMMENTS</h3>
        {% for comment in comment %}
            
            <abbr title="{{ post.created_date }}" class="time">{{ comment.created_date }}</abbr> | By <a href="{{ url_for('home_frontend.error') }}">{{ comment.author }}</a> | 
            {% if comment.author == g.user %}
                <a href="{{ url_for('comment_frontend.edit', id=comment.id) }}">edit</a>
                <a href="{{ url_for('comment_frontend.delete', id=comment.id) }}">delete</a>
            {% endif %}
            <p>{{ comment.content | safe}}</p>

        {% endfor %}
        <hr />
    </div>
    <div id="newcomment">
        <a href="{{ url_for('comment_frontend.new', post_id=post.id) }}">Add Comment</a>
    </div>
    
</div>

{#{paginate(page_obj)}#}
{% endblock %}

