<!-- extend from layout -->
{% extends "layout.html" %}
{% block title %}editpost{% endblock %}

{% block content %}
<div id="body">
    <div id="body_top">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li><a href="{{ url_for('category_backend.index') }}">Category</a> &nbsp;&gt;</li>
            <li>Edit</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name }}

            {{ form.description.label }}
            {{ form.description }}<br/>

            <input id="submit", name="submit", class="btn btn-inverse", type="submit", value="Save changes">
        </form>
    </div>

</div>
{% endblock %}