<!-- extend from layout -->

{% set location = 'category' %}
{% extends 'layout.html' %}
{% from '_page.html' import message, paginate, status_label %}
{% block title %}mycategory{% endblock %}
{% block content %}
<div class="content">
    <div id="body_top" class="Category">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li>Category</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">

        <div class="category-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>ACTIVE</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category %}
                    <tr>
                        <td><a href="{{ url_for('category_backend.view', name=category.name)}}">{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            {% if g.user.id %}
                                <a href="{{ url_for('category_backend.edit', id=category.id) }}">edit</a>
                                <a href="{{ url_for('category_backend.delete', id=category.id) }}">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="new category">
            <a href="{{ url_for('category_backend.new') }}" class="btn btn-inverse">Create New Category</a>
        </div>
    </div>
</div>
{% endblock %}
