<!-- extend from layout -->
{% extends "layout.html" %}
{% block title %}newcategory{% endblock %}

{% block content %}
<div class="content">
    <div id="body_top" class="Category">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li><a href="{{ url_for('category_backend.index') }}">Category</a></li>
            <li>Create New Category</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">
        <form action="", method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label }}
            {{ form.name }}

            {{ form.description.label }}
            {{ form.description }}<br/>

            <input id="submit", name="submit", class="btn btn-inverse", type="submit", value="Create Category">
        </form>
    </div>
    <div id="showcategory">
        {% for category in catlist %}
        <table>
            <tr>    
                <th>{{ category.name }}</th><td>{{ category.description }}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}