{% macro paginate(page_obj) %}
{% if page_obj.pages > 1 %}
<div class="pagination .pagination-mini">
<ul class="pager">
	<li {% if not page_obj.has_prev %} class="disabled" {% endif %}>
		<a href="?p={{page_obj.page-1}}">Prev</a>
	</li>
	{% for i in range(1, page_obj.pages+1) %}
	<li {% if i == page_obj.page %} class="active" {% endif %}>
		<a href="?p={{i}}">{{i}}</a>
	</li>
	{% endfor %}
	<li {% if not page_obj.has_next %}class="disabled"{% endif %}>
		<a href="?p={{page_obj.page+1}}">Next</a></li>
</ul>
</div>
{% endif %}
{% endmacro %}

{% macro status_label(status, status_message) %}
{% if status == 1 %}
<span class="label label-success">{{status_message}}</span>
{% elif status == 0 %}
<span class="label">{{status_message}}</span>
{% elif status == 2 %}
<span class="label label-warning">{{status_message}}</span>
{% elif status == 3 %}
<span class="label label-important">{{status_message}}</span>
{% endif %}
{% endmacro %}

{% macro message() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class = "msg">
	{% for category,message in messages %}
	<div class="alert alert-{{category}}">
		<button class="close" data-dismiss="alert" type="button">x</button>
		{{ message }}
	</div>
	{% endfor %}
</div>
{% endif %}
{% endwith %}
{% endmacro %}

{% macro render_errors(field) %}
{% if field.errors %}
	<ul class=errors>
	{% for error in field.errors %}
		<li><span style="color:red;">[{{ error }}]</span></li>
	{% endfor %}
	</ul>
{% endif %}
</dd>
{% endmacro %}

