{% from "_page.html" import message %}
<!doctype html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if title %}
	<title>MyBlog-{% block title %}{% endblock %}</title>	
	{% else %}
	<title>Wel to my universe</title>
	{% endif %}

	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	{% block css %}
	<link href="/static/kindeditor/themes/default/default.css" rel="stylesheet" />
	{% endblock %}

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
	{% block js %}
	{% endblock %}
	
</head>

<body>
<div id="header" class="container">
	<div id="top">
		<div class="headline">
			<a href="/"><h1>{{ config['BLOG_NAME'] }}</h1></a>
			<p><span class="nav pull-right">
				{% if g.user %}
					<a href="{{ url_for('account_frontend.logout') }}">Logout</a>
					<a href="{{ url_for('admin_backend.index') }}">My Blog</a>
				{% else %}
					<a href="{{ url_for('account_frontend.login') }}">Login</a>
					<a href="{{ url_for('account_frontend.register') }}">Sign Up</a>
				{% endif %}
			</span></p>
		</div>
	</div>
</div>

<div id="main" class="container">
	<div class="wrapper">
		{{message()}}
		{% block body %}
		{% endblock %}
	</div>

	<div id="sidebar" class="wrapper">
		{% block sidebar %}
		{% endblock %}
	</div>

	<div id="footer">
		{% block footer %}
		{% endblock %}
	</div>
</div>

</body>

</html>
