{% extends 'base.html' %}

{% block sidebar %}
<div class="row">
	<div class="col-md-2">
		<a class="btn btn-primary" {% if location == 'submit' %}{% endif %} href="{{ url_for('post_backend.new') }}">New Post</a>

		<ul class="nav nav-tabs nav-stacked">
			<li{% if location == 'overview' %} class=="active" {% endif %}>
				<a href="{{ url_for('admin_backend.index') }}">Overview</a>
			</li>
			<li{% if location == 'post' %} class=="active" {% endif %}>
				<a href="{{ url_for('post_backend.index') }}">Post</a>
			</li>
			<li{% if location == 'category' %} class=="active" {% endif %}>
				<a href="{{ url_for('category_backend.index') }}">Category</a>
			</li>
			<li{% if location == 'tag' %} class=="active" {% endif %}>
				<a href="{{ url_for('tag_backend.index') }}">Tag</a>
			</li>
			<li{% if location == 'user' %} class=="active" {% endif %}>
				<a href="{{ url_for('account_backend.manage', id=g.user.id) }}">Profiles</a>
			</li>
		</ul>
	</div>
	<div class="col-md-10">
		{% block content %}
		{% endblock %}
	</div>
</div>
{% endblock %}
