<!-- extend from base layout -->

{% extends "base.html" %}
{% from "_page.html" import render_errors %}
{% block title %}newcomment{% endblock %}

{% block css %}
{% endblock %}
{% block js %}
{% endblock %}

{% block body %}
<div id="body">
    <div id="body_top">
        <h2>Add your comment for the post</h2>
    </div>
    <div id="body_middle">

        <div class="commentblock">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                <div><p class="form-control-static">comment by {{g.user.nickname}} | {{g.user.email}}</p>
                </div>
                <div>
                {{ form.content.label }}
                {{ form.content() }}
                </div>
                
                {{ form.submit(class="btn") }}
            </form>
        </div>
    </div>

</div>
{% endblock %}