<!-- extend from layout -->

{% set location = 'tag' %}
{% extends 'layout.html' %}
{% from '_page.html' import message, paginate, status_label %}
{% block title %}mytag{% endblock %}
{% block content %}
<div class="content">
    <div id="body_top" class="Tag">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li>Tag</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">

        <div class="tag-list">
            {% for tag in tag %}
                <span><a href="{{ url_for('tag_backend.view', name=tag.name) }}">{{ tag.name }} |</span>
            {% endfor %}
        </div>
        <div class="new tag">
            <a href="{{ url_for('tag_backend.new') }}" class="btn btn-inverse">Create New Tag</a>
        </div>
    </div>
</div>
{% endblock %}
