<!-- extend from layout -->

{% extends "layout.html" %}
{% block title %}newtag{% endblock %}

{% block content %}
<div class="content">
    <div id="body_top" class="Tag">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li><a href="{{ url_for('tag_backend.index') }}">Tag</a></li>
            <li>Create New Tag</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">
        <form action="", method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            <br/>

            <input id="submit", name="submit", class="btn btn-inverse", type="submit", value="Create Tag">
        </form>
    </div>
    <div id="showtag">
        {% for tag in taglist %}
            {{ tag.name }}
        {% endfor %}
    </div>
</div>
{% endblock %}