<!-- extend from layout -->

{% extends 'layout.html' %}
{% from '_page.html' import message, paginate, status_label %}
{% block title %}postbytag{% endblock %}

{% block content %}
<div class="content">
    <div id="body_top" class="Post">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li><a href="{{ url_for('tag_backend.index') }}">Tag</a></li>
            <li>Post by Tag</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">

        <div class="post-list">
        <table style="width:1000px" class="table table-striped">
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>AUTHOR</th>
                    <th>CREATED TIME</th>
                    <th>CATEGORY</th>
                    <th>TAG</th>
                    <th>ACTIVE</th>
                </tr>
            </thead>
            <tbody>
                {% for post in post %}
                    <tr>
                        <td><a href="{{ url_for('post_backend.view', id=post.id) }}">{{ post.title }}</a></td>
                        <td>{{ post.author.nickname }}</td>
                        <td>{{ post.created_date }}</td>
                        <td><a href="{{ url_for('category_backend.view', name=post.category.name) }}">{{ post.category_name }}</a></td>
                        <td><span class="tag-links">Tags : 
                            {% for tag in post.tag %}
                                <a href="" title="post in tag" rel="tag">{{ tag.name }}</a>, 
                            {% endfor %}
                            </span>
                        </td>
                        <td>
                            {% if g.user.id == post.user_id %}
                                <a href="{{ url_for('post_backend.edit', id=post.id) }}">edit</a>
                                <a href="{{ url_for('post_backend.delete', id=post.id) }}">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}