<!-- extend from layout -->
{% set location='user' %}
{% extends "layout.html" %}
{% block title %}
change password
{% endblock %}

{% from "_page.html" import render_errors %}

{% block content %}
<h1>Edit password</h1>
<div id="edit">
	<form id="edit" action="" method="POST">
		{{form.hidden_tag()}}
		<table cellspacing="0" class="form-table">
		<div class="groups">
			<tbody>
				<tr>
				<th>{{ form.password.label }}</th>
				<td>{{ form.password(size=30) }} {{ render_errors(form.password) }}</td>
				</tr><tr>
				<th>{{ form.newpassword.label }}</th>
				<td>{{ form.newpassword(size=30) }} {{ render_errors(form.newpassword) }}</td>
				</tr><tr>
				<th>{{ form.confirm.label }}</th>
				<td>{{ form.confirm(size=30) }} {{ render_errors(form.confirm) }}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div>
			{{ form.submit(class="btn") }}
		</div>
	</form>
</div>
{% endblock %}
