{% extends 'base.html' %}
{% from '_page.html' import message, paginate, render_errors, status_label %}

{% block title %} sign in {% endblock %}

{% block body %}

<h1>Sign In</h1>
<div id="signin">
	<form id="login" action="" method="POST">
		{{form.hidden_tag()}}
		<table cellspacing="0" class="form-table">
		<tbody>
			<tr>
			<th>{{ form.account.label }}</th>
			<td>{{ form.account(size=30) }} {{ render_errors(form.account) }}</td>
			</tr><tr>
			<th>{{ form.password.label }}</th>
			<td>{{ form.password(size=30) }} {{ render_errors(form.password) }}</td>
			</tr><tr>
			<th></th>
			<td>{{ form.remember}}remember me</td>
			</tr><tr>
			<th><a href="{{ url_for('account_frontend.register') }}">Register</a></th>
			<td>{{ form.submit(class="btn") }}<td></tr>
		</tbody>
		</table>
	</form>
</div>

{% endblock %}
