{% set location = 'user' %}
{% extends 'layout.html' %}
{% from "_page.html" import message, paginate, status_label%}
{% block title %}profile{% endblock %}

{% block content %}
<div>
    <div id="body_top" class="Manage">
        <ul id="breadcrumb" class="breadcrumb">
            <li><a href="{{ url_for('account_backend.manage', id=g.user.id) }}">{{ g.user.nickname }}</a></li>
            <li><a href="{{ url_for('admin_backend.index') }}">Admin</a></li>
            <li>Profile</li>
        </ul>
        <hr/>
    </div>
    <div id="body_middle">
        <table class="table table-bordered">
        <thead>
            <tr>
            <th>ACCOUNT</th>
            <th>EMAIL</th>
            <th>EDIT</th>
            <th>ADD</th>
            <th>CREATED TIME</th>        
            </tr>
        </thead>

        <tbody>
        {% if g.user %}
            <tr>
            <td><a href="" target="_blank">{{ g.user.account }}</a></td>
            <td>{{ g.user.email }}</td>
            <td><a href="{{ url_for('account_backend.edit', id=g.user.id) }}">Change Password</a></td>
            <td><a href="{{ url_for('account_backend.profile', id=g.user.id) }}">Profile</a>
            <td>{{ g.user.created_date }}</td>
            </tr>
        {% endif %}
        </tbody>
        </table>

        <table class="table table-bordered">
        <thead>
            <tr>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>ADDRESS</th>
            <th>CITY</th>
            <th>PHONE</th>
            <th>EDIT TIME</th>        
            </tr>
        </thead>
        
        <tbody>
        {% if g.user %}
            <tr>
            <td>{{ profile.first_name }}</a></td>
            <td>{{ profile.last_name }}</td>
            <td>{{ profile.address }}</td>
            <td>{{ profile.city }}</td>
            <td>{{ profile.phone }}</td>
            <td></td>
            </tr>
        {% endif %}
        </tbody>
        </table>
    </div>
</div>

{#{paginate(page_obj)}#}
{% endblock %}
