<!-- extend from layout -->
{% set location = 'user' %}
{% extends "layout.html" %}

{% block title %}Edit profile{% endblock %}

{% from "_page.html" import render_errors %}

{% block content %}
<h1> Wanna enjoy life? Fulfill you details! <h1>
<div id="prof">
	<form id="prof" action="" method="POST">
		{{form.hidden_tag()}}
		<table cellspacing="0" class="form-table">
		<div class="groups">
			<tbody>
				<tr>
				<th>{{ form.first_name.label }}</th>
				<td>{{ form.first_name(size=30) }} {{ render_errors(form.first_name) }}</td>
				</tr><tr>
				<th>{{ form.last_name.label }}</th>
				<td>{{ form.last_name(size=30) }} {{ render_errors(form.last_name) }}</td>
				</tr><tr>
				<th>{{ form.address.label }}</th>
				<td>{{ form.address(size=30) }} {{ render_errors(form.address) }}</td>
				<tr></tr>
				<th>{{ form.city.label }}</th>
				<td>{{ form.city(size=30) }} {{ render_errors(form.city) }}</td>
				</tr><tr>
				<th>{{ form.phone.label }}</th>
				<td>{{ form.phone(size=30) }} {{ render_errors(form.phone) }}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="controls">
			{{ form.submit(class="btn") }}
		</div>
	</form>
</div>
{% endblock %}
