<!-- extend from base -->
{% extends 'base.html' %}
{% from '_page.html' import message, paginate, render_errors, status_label %}

{% block title %} Create a new account {% endblock %}
{% from "_page.html" import render_errors %}

{% block body %}
<h1>Registration</h1>
<div id="reg">
	<form id="reg" action="" method="POST">
		{{form.hidden_tag()}}
		<table cellspacing="0" class="form-table">
		<div class="groups">
			<tbody>
				<tr>
				<th>{{ form.account.label }}</th>
				<td>{{ form.account(size=30) }} {{ render_errors(form.account) }}</td>
				</tr><tr>
				<th>{{ form.nickname.label }}</th>
				<td>{{ form.nickname(size=30) }} {{ render_errors(form.nickname) }}</td>
				</tr><tr>
				<th>{{ form.email.label }}</th>
				<td>{{ form.email(size=30) }} {{ render_errors(form.email) }}</td>
				</tr><tr>
				<th>{{ form.password.label }}</th>
				<td>{{ form.password(size=30) }} {{ render_errors(form.password) }}</td>
				</tr><tr>
				<th>{{ form.confirm.label }}</th>
				<td>{{ form.confirm(size=30) }} {{ render_errors(form.confirm) }}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="controls">
			<label class="checkbox" for="accept_tos">
			{{ form.accept_tos() }}{{ form.accept_tos.label() }}
			</label>
			<br>
			{{ form.submit(class="btn") }}
		</div>
	</form>
</div>

<!--div class="control-group">
	<button id="submit" class="btn" type="submit">Login</button>
	<p><input type="submit" value="Sign In"></p>
</div-->
{% endblock %}
